<header class="header">
    <div class="header__container">
        <a class="header__branding" href="{{'/' | relative_url}}">
            <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="" class="header__logo">
            <span class="header__title">{{ site.title }}</span>
        </a>
        <div class="header__actions">
            <a href="{{ '/store.html' | relative_url }}">
                <button class="snipcart-customer-signin login-button">Store</button>
            </a>
        </div>
    </div>

</header>